@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");

$primary-color: #6214df;
$secondary-color: #c7456c;
$black-color:#0f0f0f;

*,
*::before,
*::after {
  box-sizing: border-box;
  user-select: none;
}
::placeholder {
  color: $secondary-color;
}
body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  .parent{
    display: flex;
     

  }
  header {
    display: flex;
    width: 100%;
    z-index: 12;
    position: sticky;
    top: 0;
    background-color: #fff;
    box-shadow: 0px 2px 6px 0px $secondary-color;
    padding: 0 1rem;
    height: 4rem;
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
    h2.logo-text {
      margin-right: 1rem;
      color: $primary-color;
      font-weight: 900;
    }
    button.btn {
      background-color: #fff;
      border: none;
      padding: 0;
      .menu-icon-btn {
        padding: 0;
      }
      .menu-icon {
        width: 35px;
        height: 45px;

        fill: $primary-color;
        cursor: pointer;
      }
      :hover {
        fill: $secondary-color;
        width: 37px;
        height: 47px;
      }
    }
    nav {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: flex-end;

      width: 100%;
      ul {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        margin-right: 1rem;
        li {
          list-style: none;
          margin: 0 1rem;
          flex: 1;
          a {
            text-decoration: none;
            color: $primary-color;
            font-size: 1rem;
            cursor: pointer;
            span.mat-icon {
              width: 25px;
             
              
            }
           .rotate {
            -webkit-transform:rotate(45deg);
            -moz-transform:rotate(45deg);
             -ms-transform:rotate(45deg);
              -o-transform:rotate(45deg);
                 transform:rotate(45deg);
              
            }
          }
          input {
            border: none;
            border-bottom: #6214df 3px solid;
            outline: none;
            color: #6214df;
            caret-color: $secondary-color;
            font-size: 1.2rem;
          }
          :focus {
            border-bottom: $secondary-color 3px solid;
          }
        }
        .modal {
          transform: translateX(400px);
          position: absolute;
          margin-top: 2rem;
          min-width: 200px;
          color: #fff;
          height: auto;
          z-index: -3;
          background-color: #6214df;
        }
      }
    }
  } //header ends

  //sidebar starts

  .container {
    display: flex;
    flex-direction: row;

    aside.sidebar {
      transform: translate(-200px);
      width: 0;
      background-color: $secondary-color;
      color: white;
      display: flex;
      flex-shrink: 0;
      padding: 0 1rem;
      flex-direction: column;
      border: 1px solid $secondary-color;
      margin-top: -1rem;
      padding-top: 1rem;
      height: calc(100vh - 4rem);
      border: 1px solid $secondary-color;
      transition: all 300ms cubic-bezier(0.57, 0.21, 0.69, 1.25);

      .top-sidebar {
        display: flex;
        flex-direction: column;
        align-items: center;
        .img-container {
          width: 100%;
          display: flex;
          flex-direction: column;
          align-items: center;

          img {
            width: 4rem;
            align-self: center;
            object-fit: cover;
            border-radius: 10%;
          }
          :hover {
            border-radius: 0;
            transform: translate(1px);
          }
        }

        h3.user-name {
          color: $primary-color;
          font-size: 1.5rem;
          font-weight: 300;
        }
      } //end of top sidebar
      //start of middle sidebar
      .middle-sidebar {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;

        flex-grow: 1;
        overflow-y: auto;
        overflow-x: hidden;
        ul {
          padding: 0;
          display: flex;
          flex-direction: column;
          align-items: flex-start;

          margin: 0;
          li {
            list-style: none;
            display: flex;
            margin: 0;
            padding: 1rem 0;
            a {
              text-decoration: none;
              display: flex;
              flex-direction: row;
              align-items: center;
              margin: 0;
              color: #fff;
              font-weight: 300;
              .mat-icon {
                font-size: 1.5rem !important;
                margin-right: 0.5rem;
              }
            }
            :hover {
              color: $primary-color;
            }
          }
        }
      }
      //middle sidebar ends
      //bottom sidebar starts
      .bottom-sidebar{
        .fa-brands{
          font-size: 1.5rem !important;
          margin: 0 0 1.5rem .5rem;
        }
      }
    }
  }
  main {
    margin: 0 1rem;
    display: flex;
   flex-direction: column;
   
    .user-profile{
      flex: 1;
      border: 1px solid $primary-color;
      display: flex;
      justify-content: space-between;
      box-shadow: 0px 2px 6px 3px $secondary-color;
      .left{
        display: flex;
      flex-direction: row;
      .profile-img-container{
        margin: 0 1rem;
        width: 13%;
        .profile-img{
          width: 80%;
          height: 80%;
          object-fit: contain;
          margin: 1rem;
        transform: rotate(5deg);
        }
      }
      .profile-detail{
        margin: 1rem;
        display: flex;
        color: $primary-color;
        flex-direction: column;
        justify-content: flex-start;
        letter-spacing: 3px;
        padding: 1rem 0;
        .user-name{
          margin: .5rem;
          font-size: 1.5rem;
          font-weight: 300;
          
        
          .text-small{
            font-weight: 500;
            font-size: 1rem;
            
           color: $black-color;
          }
        }
        .user-type{
          margin: .5rem ;
         
        }
        .user-strength{
          margin: .5rem;
        }
      }
      }
      .right{
        display: flex;
        
        flex-direction: column;
        align-items: center;
        justify-content: center;
        .mat-icon{
          margin: 1rem 2rem;
          color: $primary-color;
        }
      }
    }
    .user-performance{
     flex: 3;
     border: 1px solid $primary-color;
    }
    .user-analytics{
      flex: 2;
      border: 1px solid $primary-color;
      margin-bottom: 1rem;
    }
  }
}

.open {
  width: 10rem !important ;
  transform: none !important;
}
.modal-open {
  transform: none !important;
  opacity: 1 !important;
}
